.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1%;
    .card {
        width: 15%;
        margin: 1% .4%;
        padding: 1% 0 1% 1%;
        transition: .3s ease-in-out;
        &:hover {
            background: red;
            color: #fff;
        }
        div {
            span {
                font-weight: bold;
            }
        }
    }
}