.header {
    button {
        margin: 0 10px;
        transition: .3s ease-in-out;
        cursor: pointer;
        &:hover {
            background: #c60000;
            color: #fff;
        }
    }
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1%;
    .card {
        width: 15%;
        margin: 1% .4%;
        padding: 1% 0 1% 1%;
        transition: .3s ease-in-out;
        &:hover {
            background: #c60000;
            color: #fff;
        }
        .title {
            .bold {
                font-weight: bold;
            }
        }
    }
}